{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.wallet_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.wallet_list'|trans }}</h1>



    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'wallet.id')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'wallet.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'wallet.createdAt')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'wallet.updatedAt')}}</th>
                {# <th> {{ knp_pagination_sortable(pagination, 'label.currency'|trans, 'currency.name')}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.transaction'|trans, 'transaction.id')}}</th> #}



            </tr>
            </thead>
            <tbody>
            {% for task in pagination %}
                <tr>
                    <td>{{  task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.createdAt|date('Y/m/d') }}</td>
                    <td>{{ task.updatedAt|date('Y/m/d') }}</td>
                   {#  <td>{{ task.currency.name }}</td>
                    <td>{{ task.transaction.id }}</td> #}




                    <td>
                        <a href="{{ url('wallet_show', {id: task.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="{{ url('wallet_create') }}" title="{{ 'action.create'|trans }}">
                {{ 'action.create'|trans }}
            </a>
        </p>



        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}