{% extends 'base.html.twig' %}

{% block title %}
    {{ 'name.wallet_details'|trans({'%id%': wallet.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'name.wallet_details'|trans({'%id%': wallet.id|default('')}) }}</h1>
    {% if wallet is defined and wallet|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ wallet.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ wallet.name }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ wallet.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ wallet.updatedAt|date('Y/m/d') }}</dd>

        </dl>
        <p>
            <a href="{{ url('wallet_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}