{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.transaction_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.transaction_list'|trans }}</h1>




    <form action="{{ path('transaction_index') }}" method="get">
        {{ form_start(form, {'method': 'GET'}) }}
        {{ form_row(form.start_date) }}
        {{ form_row(form.end_date) }}
        <button type="submit">{{ 'action.search'|trans }}</button>
        {{ form_end(form) }}
    </form>








    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        <p>{{ 'title.balance'|trans }}: {{ balance }}</p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'transaction.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'categories.name' ) }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'transaction.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'transaction.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.wallet'|trans, 'wallet.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.sum'|trans, 'transaction.sum') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.currency'|trans, 'currency.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.value'|trans, 'transaction.value') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.author'|trans, 'author.email')}}</th>
                <th>{{ 'label.actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>
                        <a href="{{ url('transaction_index', {'filters.category_id' : task.category.id}) }}" title="{{ task.category.name }}">
                        {{ task.category.name }}
                        </a>
                    </td>
                    <td>{{ task.description }}</td>
                    <td>  {{ task.createdAt|format_date('long')}} </td>
                    <td>{{ task.wallet.name }}</td>
                    <td>{{ task.sum }}</td>
                    <td>{{ task.currency.name }}</td>
                    <td>{{ task.value }}</td>
                    <td>{{ task.author.email }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ 'action.options'|trans }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"  href="{{ url('transaction_show', {id: task.id}) }}" title="{{ 'action.view'|trans }}">
                                        {{ 'action.view'|trans }}</a></li>
                                <li ><a class="dropdown-item" href="{{ url('transaction_delete', {id: task.id}) }}" title="{{ 'action.delete'|trans }}">
                                        {{ 'action.delete'|trans }}</a></li>
                            </ul>
                        </div>
                    </td>









                </tr>
            {% endfor %}
            </tbody>
        </table>


        <p>
            <a href="{{ url('transaction_create') }}" title="{{ 'action.create'|trans }}">
                {{ 'action.create'|trans }}
            </a>
        </p>


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>

        <p>
            <a href="{{ url('transaction_create') }}" title="{{ 'action.create'|trans }}">
                {{ 'action.create'|trans }}
            </a>
        </p>
    {% endif %}
{% endblock %}