{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title.categories_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.categories_list'|trans }}</h1>


    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>



        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id' )}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans,'category.createdAt' )}}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'category.updatedAt' )}}</th>
                <th>{{ knp_pagination_sortable(pagination,'label.name'|trans, 'category.name')}}</th>

            </tr>
            </thead>
            <tbody>
            {% for elem in pagination.items %}
                <tr>
                    <td>{{ elem.id }}</td>
                    <td>{{ elem.createdAt|date('Y/m/d') }}</td>
                    <td>{{ elem.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ elem.name }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: elem.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ url('category_edit', {id: elem.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ url('category_delete', {id: elem.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="{{ url('category_create') }}" title="{{ 'action.create'|trans }}">
                {{ 'action.create'|trans }}
            </a>
        </p>



        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}